# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.db
*.sqlite3

# Node.js
rg_new_app/node_modules/
rg_new_app/dist/
rg_new_app/.env

# Logs
recipe_generator.log

# Build artifacts
web-build/
rg_new_app/src/index_sav04192025.tsx.bak
rg_new_app/tsconfig.node.tsbuildinfo
rg_new_app/tsconfig.tsbuildinfo

# Local files
notes.docx
rg_new_app/public/favicon.ico